
.div{
    display: block;
}
.tu{
    height: 3rem;
}

.top-bar{
    width: 1210px;
    height: 48px;
    display: flex;
    margin:20px   auto;


}
   .top-bar a:hover{
    color:black;
}
.top{
       display: flex;
       text-align: center;
   }
.top-bar div{
    flex-grow: 1;
    font-size: 16px;
    flex-direction:row;
    margin:auto;
    color: #6B7280;
}
/*头部导航*/
.titles{
    width: 1210px;
    margin: 100px auto 20px;
    text-align: center;
}
.main{
    font-size: 30px;
    font-weight: bolder;
    margin:10px;
}
.sub-tu{
    width: 200px;
    height: 200px;
    margin: 20px auto;



}
.section-name{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.title1{
    width: 1210px;
    margin:20px  auto;

}
.section-rules{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.text-outer{
    width: 1210px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.text-box{
    width: 516px;
    border: 1px solid #e8e8e8;
   margin: 20px;

}
.text-box:hover{
    border-color: rgba(0,0,0,.09);
    box-shadow: 0 2px 8px rgb(0 0 0 / 30%);}
.text-name{
    width: 516px;
    height: 57px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 24px;
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    text-align: center;
    line-height: 57px;
    font-style: italic;
}
.text-tu{
    width: 200px;
    height: 200px;
    margin: 20px auto;

    border-radius: 50%
}
.text-text{
    margin: 20px;
}
.text-a{
    color: #1890ff;
}


